//
// Created by CLion.
// @author: SMITH Emmanuel <hey@emmanuel-smith.me>
// @site: https://emmanuel-smith.me
// Date: 06/02/2021
// Time: 18:10
//

#ifndef CONSUMPTIONSNIFFER_WIFI_CREDENTIALS_H
#define CONSUMPTIONSNIFFER_WIFI_CREDENTIALS_H

#define WIFI_SSID "YourSSID"
#define WIFI_PSWD "YourPassword"

#define SYNC_NAME "ASensorName"
#define SYNC_ENDPOINT_HOST "192.168.1.100"
#define SYNC_ENDPOINT_PORT 8080
#define SYNC_ENDPOINT_URI "/api/sensors/"

#endif //CONSUMPTIONSNIFFER_WIFI_CREDENTIALS_H
